<h1>Sign Up!</h1>
<%= render 'shared/error_messages' %>
<%= form_for @user, :url => post_signup_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, :required => true, :placeholder => 'email', :class=> 'text-field' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true, :placeholder => 'password', :class => 'text-field' %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, :required => true, :placeholder => 'password confirmation', :class => 'text-field' %>
  </div>
  <div class='center'>
    <%= f.submit "Create Account", :class => 'button' %>
  </div>
<% end %>
