<header id='main-header'>
  <div id='title-container'>
    <%= link_to "The Community", root_path, :id => 'title' %>
    <ul id='sign-in-links'>
    <% if signed_in? %>
      <li><%= link_to current_user.email, current_user %></li>
      <li><%= link_to "Logout", logout_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Register", signup_path%></li>
      <li><%= link_to "Login", login_path%></li>
    <% end %>
  </div>
  <nav id="main-menu">
    <ul class="navigate">
      <li><%= link_to "Blog", '#'%></li>
      <li><%= link_to "Contact", '#'%></li>
      <li><%= link_to "About", '#'%></li>
    </ul>
  </nav>
</header>
