<!DOCTYPE html>
<html>
<head>
  <title>SecurityDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='wrapper'>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
    <% end %>
    <div id='content'>
      <%= yield %>
      <% debug(params) if Rails.env.development? %>
    </div>
    <div class='push'></div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
